
  <div  class="body">
<h1>
  Tech Demo Home
</h1>

    <div class="section">

    <mat-tab-group class="card">
        <mat-tab label="View Table">
          <div >
           <app-mat-table-demo  [parentData]="dataToChildComponent">  <!--  passing data to child component -->
            </app-mat-table-demo>
          </div>
            </mat-tab>

        <mat-tab label = "View Chart">
          <div class="second-tab-sec">

          <button class="redirect-button" (click) = "routeToCharts()">  <!-- calling function on clic -->
            Click Here to Redirect to Charts
          </button>
        </div>
        </mat-tab>

        </mat-tab-group>
        </div>
        <div class="section">

 
          <button class="button" (click)="openSnackBar(catFact.fact, 'close')" 
           style="vertical-align:middle"><span>Click To View Cat Facts </span></button>
           <div>
            <!-- 2 way binding example -->
             {{catFact.fact}}

           </div>
          
              </div>
    </div>